
.carousel-container {
    /* height: 80vh; */
    position: relative;
    overflow: hidden;
    margin: 20px auto;
}

.carousel {
    height: 100%;
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 24.2%;
    margin-left: 0.8%;
    padding:20px 0;
    border-radius: 10px;
    box-sizing: border-box;
    background-image: url("./assets/img/fondo9.jpg");
    background-size: cover;
    /* Hace que la imagen se ajuste al contenedor sin distorsión */
    background-repeat: no-repeat;
    /* Evita que la imagen de fondo se repita */
    background-position: center;
    /* Centra la imagen en el contenedor */ 
}

.card img {
    height: 90%;
    max-width: 80%;
    border-radius: 10px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    left: 15px;
}

.next-btn {
    right: 10px;
}

@media screen and (max-width: 768px) {
    .card {
        flex: 0 0 100%;
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card {
        flex: 0 0 32.5%; /* Each card takes up one third of the container */
        margin: 0.5%; /* Add margin between cards */
    }
}