{% extends 'layout.html' %}

{%block body%}

<div class="row">
    <div class="col-md-4">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
         <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}    
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="card card-body">
            <form action="/add_cafe" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="direccion" placeholder="Dirección" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="localidad" placeholder="Localidad"class="form-control" >
                </div>
                <div class="form-group">
                    <input type="number" max="5" min="1" name="puntuacion" placeholder="Puntuación" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="detalles" placeholder="Comentarios" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control" style="background-color: #c5b096;">
                        Save
                    </button>
                </div>
                
            </form>
        </div>

    </div>
    <div class="col-md-8">
        <table class="table-striped table-bordered table-sm" style="margin: 1%; color:#FEF7DC; background-color: #A19882;">
            <thead>
                <tr>
                    <td>Cafetería</td>
                    <td>Dirección</td>
                    <td>Localidad</td>
                    <td>Puntuación</td>
                    <td>Comentarios</td>
                    <td>Operaciones</td>
                </tr>
            </thead>
            <tbody>
                {% for cafeteria in cafeterias %}
                <tr>
                    <td> {{cafeteria.1}} </td>
                    <td> {{cafeteria.2}} </td>
                    <td> {{cafeteria.3}} </td>
                    <td> {{cafeteria.4}} </td>
                    <td> {{cafeteria.5}} </td>
                    <td>
                        <a href="/edit/{{cafeteria.0}}" class="btn-secondary">Editar</a>
                        <a href="/delete/{{cafeteria.0}}" class="btn-danger" >Eliminar</a>
                    </td>
        
                </tr>
                {% endfor %}
        
            </tbody>
        </table>
        
    </div>
</div>

{% endblock %}


